{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='img/avatar.PNG') }}" class="avatar rounded img-thumbnail">
<h3 class="text-center">Blog Posts</h3>
    <div class="list-group container">
        {% for post in posts %}
            <a class="text-center list-group-item" href="{{ url_for('page', path=post.path) }}">{{ post.title }}</a>
        {% else %}
            <li>None</li>
        {% endfor %}
        <a class="text-center list-group-item" href="{{url_for('posts')}}">More</a>
    </div>
{% endblock content %}