<h3 class="text-center">Social Platforms</h3>
<div class="social text-center">
    <a href="https://github.com/" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
    <a href="mailto:example@example.com"><i class="fas fa-envelope-square fa-2x"></i></a>
</div>